* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* Geral */

h1 {
    color: #fff;
}

.hr {
    padding: 1px;
    background: black;
    width: 800px;
    margin: auto;
}

/* Banner */

#banner {
    background-image: url(../img/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner.jpg);
    background-repeat: no-repeat;
    height: 100%;
}

#banner .banner {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 40rem;
}

.btn {
    background: black;
    width: 150px;
}

.btn a {
    margin: 20px;
    height: 100px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.texto {
    margin-top: 15rem;
    width: 600px;
}

.img-banner {
    margin-top: 10rem;
}

.img-banner .img {
    width: 18rem;
    height: 18rem;
}